*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.container{
  height: 100vh;
}
main{
  height: calc(100% - 80px);
  display: flex;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.btn{
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 8px 20px 8px 20px;
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 40px;
  font-weight: 700;
}
/* aside */
aside{
  display:flex;
  flex-direction: column;
  height: 100%;
  width:200px;
  background-color: black;
  color:lightgrey;
  padding-left: 15px;
}
aside{
  font-size: 12px;
}
.logo{
  position: relative;
  margin: 8px 4px 8px 8px;
  height:70px;
}
.logo img{
  position:absolute;
  top:0;
  left:0;
  max-height: 30px;
  display: inline-block;
}
.logo h3{
  margin-left: 35px;
  margin-top: 5px;
  color:#fff;
}
.secondary-nav{
  height: 100%;
  overflow:hidden;
}
.aside-bottom{
  margin-top: auto;
  height:80px;
  flex-shrink: 0;
}
.playlist-list{
  overflow-y: auto;
  height: calc(100% - 50px);
  list-style: none;
  line-height: 25px;
}
.playlist-list a{
  text-decoration: none;
  color:lightgrey;
}
.fa-plus-square{
  margin-right: 10px;
  margin-top: 10px;
}
.main-nav{
  margin-bottom: 20px;
}
.navigation-list{
  list-style: none;
  line-height: 25px;
  margin-left: 30px;
}
.aside-bottom a{
  color: lightgrey;
  text-decoration: none;
  margin-bottom: 20px;
}
.aside-bottom h4{
  color:#fff;
  margin-left: 30px;
  margin-top: 20px;
}
.aside-bottom{
  margin-right: 20px;
  position: relative;
}
.aside-bottom img{
  position:absolute;
  top:0;
  left:0;
  max-height: 30px;
  display: inline-block;
  margin-top: 25px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: grey;
}
.navigation-list img{
  position:absolute;
  top:0;
  left:0;
  max-height: 30px;
  display: inline-block;
  }
.navigation-list a{
  text-decoration:none;
  color: lightgrey;
}
#primo{
  position:absolute;
  top:60px;
  left:15px;;
  max-height: 20px;
  display: inline-block;
}
#secondo{
  position:absolute;
  top:88px;
  left:15px;
  max-height: 20px;
  display: inline-block;
}
#terzo{
  position:absolute;
  top:113px;
  left:15px;
  max-height: 20px;
  display: inline-block;
}
.fa-arrow-circle-down{
  margin-right: 10px;
}
/* aside mediaquery */
@media screen and (max-width:600px){
  .navigation-list p , .secondary-nav , .aside-bottom hr ,.aside-bottom h4 , #disappear , .logo h3{
    display: none;
  }
  aside{
  width:70px;
  }
  .maincontent{
  width: calc(100% - 70px);
  }
  .logo img{
  margin-right: 5px;
  }
  .navigation-list img{
  margin-left:12px
  }
  .fa-arrow-circle-down{
    margin-left: 17px;
  }
  .aside-bottom img{
    margin-left: 10px;
  }
}
/* fine aside mediaquery */
/* fine aside */

/* maincontent */
.upgrade{
  position: fixed;
  top:0;
  right:0;
  z-index:1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height:80px;
  width: calc(100% - 200px);
  background-color: rgba(0,0,0,0.6);
}
.main-content{
  height: 100%;
  overflow-y: auto;
  width:100%;
  background-color: #141922;
}
.main-title{
  color: #fff;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 10px;
}
/* top navigation */
.container-list{
  text-align: center;
}
.top-navigation{
  margin-top:80px;
  list-style: none;
  display:flex;
  justify-content: center;
  font-size: 12px;
}
.top-navigation li{
  margin:10px;
  color: lightgrey;

}
/*  fine top navigation */
/* tracks */
.container-tracks{
  display: flex;
}
.first{
  justify-content: space-around;
}
.items-tracks img{
  max-height: 185px;
}
.subtitle-tracks{
  color: #fff;
  font-size: 15px;
  margin-bottom: 5px;
}
.items-tracks h3{
  text-align: center;
}
.sub-sub{
  color:lightgrey;
  font-size: 10px;
}
.items-tracks p{
  text-align: center;
}
.second{
  margin-left: 7px;
  margin-right: 8px;
}
.sovratitolo{
  color: #fff;
  margin-bottom: 8px;
}
.radius{
  border:1px solid green;
  border-radius: 50%;
}
/* fine tracks */

/* fine maincontent */
/* footer */
footer{
  height: 100px;
  background-color: #282828;
  position: relative;
  z-index: 1;
}
.player-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 100px;
  padding: 0 10px;
}
.player{
  display: flex;
  align-items: center;
}
.player img{
  height: 50px;
  margin-right: 20px;
}
.player-commands {
  display: flex;
}
.player-commands a:hover {
  color: #fff;
}
.player-coomands a:not(:last-child) {
  margin-right: 10px;
}
.player-commands a {
  color: #7D7F84;
  font-size: 18px;
  padding:10px;
}
.player-controls {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-width: 40%;
}
.player-song{
  font-size: 14px;
}
.player-singer {
  color: #7D7F84;
  font-size: 12px;
  font-weight: 700;
}
.player-controls-top a.button-play {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 30px;
}
.player-controls-top {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  height: 40px;
}
.player-controls-top a {
  color: #fff;
  font-size: 16px;
}
.player-controls-bottom {
  display: flex;
  align-items: center;
  width: 100%;
}
.player-controls-top a:not(:last-child) {
  margin-right: 20px;
}
.player-controls-top a.button-pre {
  margin-right: 0;
}

.player-time {
  position: relative;
  height: 4px;
  width: 100%;
  margin: 0 10px;
  background-color: #5A5A5A;
  border-radius: 5px;
}
.player-time-current,
.player-time-end {
  font-size: 10px;
  font-weight: 700;
}
.player-settings {
  display: flex;
  max-width: 250px;
}
.player-settings a {
  color: #fff;
  font-size: 14px;
}
.player-settings a:not(:last-child) {
  margin-right: 15px;
}
.player-volume {
  display: flex;
  align-items: center;;
}
.player-volume .barra-volume {
  position: relative;
  height: 4px;
  min-width: 110px;
  background-color: #5A5A5A;
}
.player-title {
  margin-right: 40px;
}
/* footer media query */
@media screen and (max-width:992px) {
  .player-title {
    margin-right: 20px;
  }
}
@media screen and (max-width: 992px) {
  .player-commands {
    flex-direction: column;
    margin-right: 20px;
  }
}
@media screen and (max-width: 992px) {
  .player-volume .barra-volume {
    min-width: 80px;
  }
}
@media screen and (max-width: 620px) {
  .player-volume .barra-volume {
    min-width: 45px;
  }
}
@media screen and (max-width: 992px) {
  .player-settings {
    margin-left: 20px;
  }
}
@media screen and (max-width: 992px) {
  .player-settings a:not(:last-child) {
    margin-right: 8px;
  }
}
/* fine footer media query */
/* fine footer */
