*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.container{
  height: 100vh;
}
main{
  height: calc(100% - 100px);
  display: flex;
}
/* aside */
aside{
  display:flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
  background-color: black;
  color:lightgrey;
  padding-left: 15px;
}
.logo{
  position: relative;
  margin: 8px 4px 8px 8px;
  height:70px;
}
.logo img{
  position:absolute;
  top:0;
  left:0;
  max-height: 30px;
  display: inline-block;
}
.logo h3{
  margin-left: 35px;
  margin-top: 5px;
  color:#fff;
}
.secondary-nav{
  height: 100%;
  overflow:hidden;
}
.aside-bottom{
  margin-top: auto;
  height:80px;
  flex-shrink: 0;
}
.playlist-list{
  overflow-y: auto;
  height: calc(100% - 50px);
  list-style: none;
  line-height: 25px;
}
.playlist-list a{
  text-decoration: none;
  color:lightgrey;
}
.main-nav{
  margin-bottom: 20px;
}
.navigation-list{
  list-style: none;
}
.aside-bottom a{
  color: lightgrey;
  text-decoration: none;
}
.aside-bottom h4{
  color:#fff;
}
/* fine aside */
.upgrade{
  position: fixed;
  top:0;
  right:0;
  z-index:1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height:100px;
  width: calc(100% - 300px);
  background-color: rgba(0,0,0,0.6);
}
.main-content{
  height: 100%;
  overflow-y: auto;
  width: calc(100% - 300px);
  background-color:green;
}
/* footer */
footer{
  height: 100px;
  background-color: #282828;
  position: relative;
  z-index: 1;
}
.footer-row{
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.footer-col{
  height: 50px;
  width: 50px;
  background-color: red;
}
